/* GLOBAL */
ul {list-style-type: none;}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left{
    text-align: left;
}

.clickable{
    cursor: pointer;
}

/* SIGN UP */
.dropList{
    position: absolute;
    background-color: rgb(49, 49, 49);
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
}

.dropList div {
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropList div img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 10px;
}

.dropList-item:hover{
    background-color: rgb(37, 37, 37);
}

/*  WELCOME PAGE */

.header-logo{
    max-width: 50px;
    max-height: 50px;
    
    object-fit: scale-down;
}

.card .btn-group{
    position: relative;
    margin-left: auto;
}

.table-logo{
    margin-right: 5px;
    width: 25px;
    height: 25px;
    object-fit: scale-down;
    border-radius: 10px 12px;
}

/* MY TEAM */
.my-card{
    width: 20rem; 
    height: 15rem;
}

.my-logo{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

/* ----- CALENDAR ----- */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_calendar */

.month {
    padding: 20px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
  }

  
  
  .weekdays {
    margin: 0;
    padding:  0;
    background-color: #282626;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: white;
    text-align: center;
  }
  
  .days {
    padding: 10px 0px;
    background: #393939;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    
    color: white;
  }

  .days li ul{
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .football-event{
    display: flex;
    justify-content: center;
  }
  
  .days .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  }

/* FOOTBALL TEAM */

.team-container{
    max-width: 1200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00028a;
    background-image: linear-gradient(90deg, #151f29 0%, #101820 100%);

    border-radius: 15px;
    color: white;
}

/* Team Logo */
.logo-team{
    max-width: 250px;
    max-height: 250px; 
    object-fit: contain;
    
    border: 0.5px solid white;
    border-radius: 25px;
    
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.logo-team img{
    max-width: 250px;
    max-height: 250px; 
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/*  Team Name */
#teamFootballName{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 10px;;

}

/* COUNTDOWN */
.logo-competition{
    width: 15px;
    object-fit: contain;
}

.counter ul{
    margin: 0;
    padding: 0;
}

.counter li{
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 5px;
    text-transform: uppercase;
}

.counter li span{
    display: block;
    font-size: 1.5em;
}

#matchHome, #matchHomeMobile{
    align-items: center;
    
}
#matchHome img, #matchAway img, #matchHomeMobile img, #matchAwayMobile img, #matchCompetitionMobile img{
    max-width: 15px;
    max-height: 15px; 
    object-fit: cover;
    object-position: 0% -10%;
}

.logo-competition-mobile{
    width: 15px;
    object-fit: contain;
}



/* VENUE */

/* Player Container */
#players-container{
    margin-top: 5px;
    
}


/* Badge */
.badge{
    width: 150px;
    height: 200px;
    border: 1px solid white;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;

    
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(90deg, rgb(253, 253, 253) 0%, rgb(179, 179, 179) 100%);
    user-select: none;
}

/*____BADGE NAME____*/
.badge-logo{
    max-width: 150px;
    max-height: 150px;
    border: 1px solid white;
    border-radius: 25px;
    overflow: hidden;
    

    z-index: 0;
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;

}

/*____BADGE NAME____*/
.badge-name{
    position: relative;
    margin-top: -10px;
    border-radius: 25px;
    padding: 5px;
    background-color: #037df7;
    background-image: linear-gradient(62deg, #037df7 0%, #8d13ff 100%);
    z-index: 2;
    font-size: 1rem;
}

/* BADGE BOTTOM */
.badge-bottom{
    margin : 0;
    margin-top: 0px;
}

/*____BADGE POSITION____*/
.badge-position{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 15px 25px;
    justify-content: center;
    text-align: center;

    font-size: 0.65rem;
    font-size-adjust: auto;
}

.badge-points{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 15px 25px;
    justify-content: center;
    text-align: center;

    font-size: 0.65rem;
    font-size-adjust: auto;
    background-color: red;
}

/*=== Striker ===*/
.st{
    background-color: #ff3c00;
}
/*=== Midfielder ===*/
.m{
    background-color: #217500;
}
/*=== Defender ===*/
.d{
    background-color: #00028a;
}
/*=== GoalKeeper ===*/
.gk{
    background-color: #007997;
}


/*____BADGE NUMBER____*/
.badge-number{
    width: 35px;
    height: 35px;
    border-radius: 25px 15px;
    position: relative;
    margin-left: auto;
    background-color: #230044;
}



/* Media */
@media only screen and (min-width: 850px){


    .full-text{
        display: inline-block;
    }

    .full-table{
        display: flexbox;
    }

    .abbr-text{
        display: none;
    }
}

@media only screen and (max-width: 850px){


    /* FOOTBALL TEAM PAGE */
    .comp-info{
        display: none;
    }

    .venue-info{
        display: none;
    }

    .full-text{
        display: inline-block;
    }

    .abbr-text{
        display: none;
    }
}

@media only screen and (max-width:650px){
    .badge{
        width: 100px;
        height: 150px;
    }

    .badge-logo{
        max-width: 100px;
        max-height: 100px;
    }

    .full-text{
        display: none;
    }

    .full-table{
        display: none;
    }

    .abbr-text{
        display: inline-block;
    }

}


/* CALENDAR MEDIA */
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 12.8%;}
  }
  
@media screen and (max-width: 420px) {
.weekdays li, .days li {width: 12.5%;}
.days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
.weekdays li, .days li {width: 12.2%;}
}